[project]
	description = test repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ferikpatel
[access "refs/for/refs/*"]
	read = group user/ferikpatel
	push = group user/ferikpatel
	label-Code-Review = -2..+2 group user/ferikpatel
	label-Verified = -1..+1 group user/ferikpatel
	rebase = group user/ferikpatel
	removeReviewer = group user/ferikpatel
	submit = group user/ferikpatel
[access "refs/heads/*"]
	read = group user/ferikpatel
	create = group user/ferikpatel
	push = +force group user/ferikpatel
	pushMerge = group user/ferikpatel
[access "refs/tags/*"]
	push = +force group user/ferikpatel
	pushTag = group user/ferikpatel
	pushSignedTag = group user/ferikpatel
